<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour et bienvenue chez nous !</h1>
    <p>
      Vous venez de vous inscrire sur Kitten-Pixtore en utilisant l'adresse e-mail <%= @user.email %>.
    </p>
    <p>
      Pour accéder à votre espace client, connectez-vous via : <%= @url %>.
    </p>
    <p> À très vite sur Kitten-Pixtore !
  </body>
</html>
