<div class="jumbotron">
  <h1 class="mt-4 text-center">Bienvenue sur <strong>Pixtore</strong> !</h1>
  </p>
</div>
<div class="container mt-4">
  <h3 class="text-center font-weight-bold mb-4">Voici le contenu de notre catalogue :</h3>
  <div class="row">
    <% @items.each do |item| %>
      <%= render partial: "card", locals: { item: item }%>    
    <% end %>
  </div>
</div>