<footer class="page-footer font-small pt-5">
  <div class="container">
    <hr>
    <div class="row justify-content-center">
      <div class="col-2">
        <div class="navbar-brand">kitten pixtore.®</div>
        <div class="mr-5">
          <img src="https://i.pinimg.com/originals/05/20/45/0520457e048ab6d28a0a14cb7998658a.png" width="100" height="100">
        </div>
      </div>
      <div class="col-3 mt-3">
        <h6 class="text-uppercase text-left">QUI SOMMES-NOUS</h6>
        <div class="text-left">
          <a href="#" class="footer-link">Nos valeurs</a><br>
          <a href="#" class="footer-link">L'entreprise</a><br>
          <a href="#" class="footer-link">L'équipe</a><br>
          <a href="#" class="footer-link">Nos partenaires</a><br>
        </div>
      </div>
      <div class="col-3 mt-3">
        <h6 class="text-uppercase text-left">MON KITTEN PIXTORE</h6>
        <div class="text-left">
          <a href="#" class="footer-link">Mon compte</a><br>
          <a href="#" class="footer-link">Mes commandes</a><br>
          <a href="#" class="footer-link">Mon panier</a><br>
        </div>
      </div>
      <div class="col-3 mt-3">
        <h6 class="text-uppercase text-left">S'inscrire</h6>
        <form>
          <fieldset>
            <div class="form-group text-left mt-2">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adresse email" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
              <small id="emailHelp" class="form-text text-muted">Nous ne partagerons pas cette adresse mail.</small>
              <%= link_to "Je m'inscris", new_user_session_path, class: "btn btn-primary mt-2 font-weight-bold" %>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <hr class="mt-6">
      <div class="ml-0 pl-0">
        <small class="text-muted text-left mr-1 mt-3">© 2020 Kitten-pixtore</small>
        <span class="fa-stack">
          <i class="fa fa-circle-thin fa-stack-2x text-muted"></i>
          <a href="#" class="text-muted ml-5"><i class="far fa-envelope fa-stack-1x"></i></a>
        </span>
        <span class="fa-stack">
          <i class="fa fa-circle-thin fa-stack-2x text-muted"></i>
          <a class="text-muted" href="#"><i class="fab fa-instagram fa-stack-1x"></i></a>
        </span>
        <span class="fa-stack">
          <i class="fa fa-circle-thin fa-stack-2x text-body text-muted"></i>
          <a class="text-muted" href="#"><i class="fab fa-github fa-stack-1x"></i></a>
        </span>
        <div>
      </div>
  </div>
</footer>